RewriteEngine On

# Rediriger toutes les requêtes vers index.php sauf si le fichier/dossier existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
